/* TOP NAVIGATION STYLES ****************************************************************/
.topNavigation ul li {
    list-style-type: none;
    display: inline;
    padding: 0 10px 0 10px;
}
.topNavigation ul li a {
    text-decoration: none;
    width: 100px;
}

/* GENERAL ******************************************************************************/
.column {
    float: left;
}

/* ACCOUNTS *****************************************************************************/
.accounts {
    width: 250px;
}

/* NEW TRANSACTIONS *********************************************************************/
.newTransaction {
    width: 900px;
}